*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://wallpapercave.com/wp/wp1929458.jpg');
    background-position: center;
    background-size: cover;
}
.container{
    display: flex;
    /* justify-content: center; */
    align-items: center; 
    padding: 80px 0px;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color: rgba(236, 223, 215, 0.66);
    border-radius: 20px;
    box-shadow: 5px 6px 10px rgb(234, 199, 199);;
    gap: 50px;
    position: relative;
    
}

.circle{
    position: relative;
    height: 150px;
    width:150px;
    border-radius: 50%;
    background:conic-gradient(#7d2ae8, 3.6deg,#ededed 0deg);
    box-shadow:  3px 1px 5px rgb(84, 87, 91);
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle::before{
    content: " ";
    position: absolute;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background-color: #e4e5ea;
    
}
.value #img{
    border-radius: 50%;
}
.value{
    position: relative;
    font-size: 30px;
    font-family: sans-serif, Helvetica, sans-serif;
    font-weight:500;
    color: rgb(190, 6, 141);
}

.button{
   width: 80px;
   height: 30px;
   text-align: center;
   padding: 5px 0px;
   cursor: pointer;
   color: aliceblue;
   border-radius: 20px;
   background-color: rgb(40, 139, 9);
   border: none;
}
.prog{
   display: none;
}
.active{
    width: 300px;
    height: 20px;
    padding: 15px; 
    border-radius: 20px;
    background-color: #dea010;
    display: flex;
    justify-content:center; 
    align-items: center; 
}

.non {
    display: none;
}


/* ********************* */